<footer class="footer" [ngClass]="{'has-cards': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login'}">
  <div class="container container-lg" *ngIf="getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login'">
  </div>
  <div class="container">
    <hr>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          &copy; {{test | date: 'yyyy'}}
          <a href="https://www.creative-tim.com?ref=adsa-footer" target="_blank">Creative Tim</a>.
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
            <a href="https://www.linkedin.com/in/chelsie-ng-6724b5184/" class="nav-link" target="_blank">Chelsie Ng</a>
          </li>
          <li class="nav-item">
            <a href="https://www.linkedin.com/in/ductringn/" class="nav-link" target="_blank">Duc Nguyen</a>
          </li>
          <li class="nav-item">
            <a href="https://www.linkedin.com/in/lynnhoangca/" class="nav-link" target="_blank">Lynn Hoang</a>
          </li>
          <li class="nav-item">
            <a href="https://www.linkedin.com/in/niyonx/" class="nav-link" target="_blank">Nigel Yong</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
